management:
  health:
    mail:
      enabled: false

  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /api/actuator
  endpoint:
    health:
      show-details: always
      group:
        liveness:
          include:
            - ping
            - diskSpace
        readiness:
          include:
            - db
            - diskSpace

  metrics:
    tags:
      application: fourweekdays