spring:
  application:
    name: foreweekdays
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: update